.modal-window(data-modal-window="request")
	.modal-window_container
		form.form-container#formSteps
			.form-container__inner
				.form-head Получить консультацию
				ol.form-area
					mixin f-li(id, name, validation)
						if (validation !== "")
							li
								.input
									input(id=id name=id type="text" data-validation=validation placeholder=name)
						else
							li
								.input
									input(id=id name=id type="text" placeholder=name)
					+f-li("q-1", "Ваше имя", "")
					+f-li("q-2", "Телефон", "phone")
					+f-li("q-2", "Сообщение", "")
				button.submit(type="submit")
				.controls
					button.next
					.progress
					.pagin
						span.pagin-current
						span.separator |
						span.pagin-total
					.error-message
			.final-message
				.message-inner
					.message-title Thank you
					span Form successfully completed! In a short time we will contact you.
					.message-close Close me